<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../public/css/custom-style.css" rel="stylesheet" type="text/css" />

    {{#block "head"}} 
    <title>{{title}}</title>
    {{/block}}

  </head>
  <body>

    <!-- Navigation sidebar -->
    <div id="sidedrawer">
      <div class="sidebar">
        <span id="sidedrawer-brand" class="app-title">{{title}}</span>
      </div>
      <div class="divider"></div>
      <ul>
        <li><strong>New message</strong></a></li>
      </ul>
    </div>

    <!-- Header -->
    <header id="header">
      <div class="appbar mui--appbar-line-height" id="appbar">
        <a class="sidedrawer-toggle mui--visible-xs-inline-block js-show-sidedrawer"><i class="fa fa-bars"></i></a>
        <a class="sidedrawer-toggle mui--hidden-xs js-hide-sidedrawer"><i class="fa fa-bars"></i></a>
        <span class="appbar-title">John Doe</span>
      </div>
    </header>


    <!-- Content -->
    <div id="content-wrapper">
      <div class="mui--appbar-height"></div>
      <div class="mui-container-fluid">
        <br>
        {{#block "body"}}
        {{/block}}
      </div>
    </div>

    <script src="../public/js/init.js"></script>
    {{#block "foot"}}
    {{/block}}
  </body>
</html>
